@import 'variables';

.tag-create-box {
  border-radius: 8px;
}
.tag-box {
  border-radius: 8px;
  padding: 16px;
  font-size: 1rem;
}
.no-round {
  border-radius: 0;
}
.color-picker {
  border-radius: 8px;
}
div.react-colorful {
  width: 410px;
  height: 350px;
}