// variables.scss
$background-color: #1a1a1a;
$background-hover-color: #2a2a2a;
$border-color: #444;
$text-color: #f0f0f0;
$primary-color: #007bff;
$primary-hover-color: #0056b3;
$primary-active-color: #003d80;
$primary-dark: #1f2937;
$primary-medium: #374151;

$link-color: #79cdef;
$link-hover-color: #00bfff;
$tile-now-color: #555555;
$input-color: #8f98ac;
$input-text-color: #19273e;

$neighboring-month-background-color: #504f4f;
$neighboring-month-text-color: #959595;

$calendar-cell: #6f7d95;
$modal-primary-light: #d1d5db;
$modal-primary-dark: #1f2937
