// variables.scss
$background-color: #1a1a1a;
$background-hover-color: #2a2a2a;
$border-color: #444;
$text-color: #f0f0f0;
$primary-color: #007bff;
$primary-hover-color: #0056b3;
$primary-active-color: #003d80;
$link-color: #79cdef;
$link-hover-color: #00bfff;
$tile-now-color: #555555;

$neighboring-month-background-color: #333333;
$neighboring-month-text-color: #888888;
